<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.min.js"></script>
    <script src="js/vue-waterfall.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/skin.css"/>
    <script src="js/vue-photo-preview.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">

        img {

            padding: 2px;

            background: white;

            border: 1px solid gray;

        }

    </style>
</head>
<body>
<div id="app">
    <waterfall :line-gap="310" :align="align" :watch="items">
        <!-- each component is wrapped by a waterfall slot -->
        <waterfall-slot
                v-for="(item, index) in items"
                :width="item.width"
                :height="item.height"
                :order="index"
                :key="item.id"
        >

                <img :src="item.url" preview="1" preview-text="描述文字" style="width: 98%"
                     alt="elastic-logo">
        </waterfall-slot>
    </waterfall>
</div>
<script>
    var options={
        fullscreenEl:false //关闭全屏按钮
    }
    Vue.use(vuePhotoPreview,options);
    new Vue({
        el: '#app',
        components: {
            'waterfall': Waterfall.waterfall,
            'waterfall-slot': Waterfall.waterfallSlot
        },
        data: {
            align: 'center',
            line: 'v',
            items:
                [
                    {
                        url:"http://123.207.227.103/proxy/200/200/fox.jpg",
                        width:"200",
                        height: "125"
                    },
                    {
                        url:"http://123.207.227.103/proxy/2.jpg",
                        width:"1024",
                        height: "683"
                    },
                    {
                        url:"http://123.207.227.103/proxy/1.jpg",
                        width:"1153",
                        height: "770"
                    },
                    {
                        url:"http://123.207.227.103/proxy/fox.jpg",
                        width:"1232",
                        height: "770"
                    },
                    {
                        url:"http://123.207.227.103/proxy/200/200/fox.jpg",
                        width:"200",
                        height: "125"
                    },
                    {
                        url:"http://123.207.227.103/proxy/fox.jpg",
                        width:"1232",
                        height: "770"
                    },
                    {
                        url:"http://123.207.227.103/proxy/200/200/fox.jpg",
                        width:"200",
                        height: "125"
                    },
                    {
                        url:"http://123.207.227.103/proxy/fox.jpg",
                        width:"1232",
                        height: "770"
                    },
                    {
                        url:"http://123.207.227.103/proxy/fox.jpg",
                        width:"1232",
                        height: "770"
                    },
                    {
                        url:"http://123.207.227.103/proxy/2.jpg",
                        width:"1024",
                        height: "683"
                    },
                    {
                        url:"http://123.207.227.103/proxy/1.jpg",
                        width:"1153",
                        height: "770"
                    }
                    ]
        },
        mounted: function() {
            this.$previewRefresh();
        },
        methods: {
//            getWidth:function (width) {
//                return parseInt(width) + 6;
//            },
//            getHight:function (hight) {
//                return parseInt(hight) + 6;
//            }
        }
    })

</script>

</body>
</html>